
body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('../images/bg2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.medlem {
    padding: 20px;
    border: 0px solid black;
    border-radius: 10px;
    width: 300px;
    height: 100px;
    text-align: center;
    margin-top: 50px;
    border: 3px solid #ea81ff;
}

.medlemmer {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.medlem:hover {
    background-color: #ea81ff;
}

.medleminfo {
    font-size: 32px;
    color: blueviolet;
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

    
.container {
    max-width: 800px;
    margin: auto;
}

p {
    font-size: 32px;
}


#terjeFigurCanvas {
    position: relative;
}

#terjeFigurSVG {
    position: relative;
}

.japan-circle {
    position: absolute;
    bottom: 50px;
    left: 100px;
}

.japan-circle-svg {
    position: absolute;
    bottom: 40px;
    left: 100px;
}

.container h1 {
    text-align: center;
    font-family: arial;
    font-weight: bold;
    font-size: 80px;
    color: rgb(158, 73, 238);
}

#BenjaminFigurCanvas {
    position: relative;
}

#BenjaminFigurSVG {
    position: relative;
}

.innersquare {
    position: absolute;
    top: 60px;
    left: 25px;
}

.lastsquare {
    position: absolute;
    top: 70px;
    left: 35px;
}

#orjanFigurSVG, #tobiasFigurSVG, #tobiasFigurCanvas {
    position: relative;
    
}

#orjanFigurCanvas {
    position: relative;
    
}

.left-eye {
    position: absolute;
    top: 70px;
    left: 40px;
}

.left-pupil {
    position: absolute;
    top: 80px;
    left: 50px;
}

.right-eye {
    position: absolute;
    top: 70px;
    left: 120px;
}

.right-pupil {
    position: absolute;
    top: 80px;
    left: 130px;
}

.mouth {
    position: absolute;
    top: 190px;
    left: 65px;
}

/*Egen klasse for canvas munn pga korreksjon for padding i funksjon  */
/* .mouthC {
    position: absolute;
    top: 190px;
    left: 65px;
} */

.bg {
    position: absolute;
}

.outercircle {
    position: absolute;
}

.innercircle {
    position: absolute;
}

.bgC {
    position: absolute;
}

.outercircleC {
    position: absolute;
}

.innercircleC {
    position: absolute;
}

#canvasP {
    padding-top: 100px;
}

#info {
    padding-top: 120px;
}

.mouth-tobias {
    position: absolute;
    left: 110px;
    bottom: 90px;
}

.left-eye-tobias {
    position: absolute;
    left: 70px;
    bottom: 170px;
}

.right-eye-tobias {
    position: absolute;
    left: 170px;
    bottom: 170px;
}