
body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('../images/bg2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.medlem {
    padding: 20px;
    border: 0px solid black;
    border-radius: 10px;
    width: 300px;
    height: 150px;
    text-align: center;
    margin-top: 50px;
}

.medlemmer {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.medlem:hover {
    background-color: #ea81ff;
}

.medleminfo {
    font-size: 32px;
    color: blueviolet;
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

    
.container {
    max-width: 800px;
    margin: auto;
}

p {
    font-size: 32px;
}


#terjeFigurCanvas {
    position: relative;
}

#terjeFigurSVG {
    position: relative;
}

.japan-circle {
    position: absolute;
    bottom: 50px;
    left: 100px;
}

.japan-circle-svg {
    position: absolute;
    bottom: 50px;
    left: 100px;
}

.container h1 {
    text-align: center;
    font-family: arial;
    font-weight: bold;
    font-size: 80px;
    color: rgb(158, 73, 238);
}

#BenjaminFigurCanvas {
    position: relative;
}

#BenjaminFigurSVG {
    position: relative;
}

.innersquare {
    position: absolute;
    top: 60px;
    left: 25px;
}

.lastsquare {
    position: absolute;
    top: 70px;
    left: 35px;
}

#orjanFigurSVG {
    position: relative;
    
}

#orjanFigurCanvas {
    position: relative;
    
}

.left-eye {
    position: absolute;
    top: 70px;
    left: 40px;
}

.left-pupil {
    position: absolute;
    top: 80px;
    left: 50px;
}

.right-eye {
    position: absolute;
    top: 70px;
    left: 120px;
}

.right-pupil {
    position: absolute;
    top: 80px;
    left: 130px;
}

.mouth {
    position: absolute;
    top: 190px;
    left: 75px;
}

/*Egen klasse for canvas munn pga korreksjon for padding i funksjon  */
.mouthC {
    position: absolute;
    top: 190px;
    left: 65px;
}

#noahFigureC {
    position: relative;
}

#noahFigureSVG {
    position: relative;
}

.outer-circ {
    position: absolute;
    left: 0;
}

.inner-circ {
    position: absolute;
    left: 0;
}