

.medlem {
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    width: 300px;
    height: 150px;
    text-align: center;
    margin-top: 50px;
}

.medlemmer {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.medlem:hover {
    background-color: #eee;
}

.medleminfo {
    margin: 200px 30%;
    font-size: 32px;
}

.container {
    max-width: 800px;
    margin: auto;
}

p {
    font-size: 32px;
}

#terjeFigurCanvas {
    position: relative;
}

#terjeFigurSVG {
    position: relative;
}

.japan-circle {
    position: absolute;
    bottom: 50px;
    left: 100px;
}

.japan-circle-svg {
    position: absolute;
    bottom: 50px;
    left: 100px;
}