#noahFigureC {
    margin-bottom: 180px;
    background-color: aliceblue;
}

#noahFigureSVG {
    margin-bottom: 180px;
    background-color: aliceblue;
}

canvas {
    position: absolute;
}

svg {
    position: absolute;
}

